<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{BeerForm.html :: head('Home')}"></form>
<body>
<form th:replace="~{BeerForm.html :: header}"></form>

<ul>
   <li><h3><a href="#" th:href="@{/beers}" th:text="#{navigation.all-beers}">Browse all beers</a></h3></li>
   <li th:unless="isAuthenticated"><h3><a href="#" th:href="@{/auth/login}" th:text="#{navigation.login} + ' | '">Login</a></h3></li>
   <li th:unless="isAuthenticated"><h3><a href="#" th:href="@{/auth/register}" th:text="#{navigation.register} + ' | '">Register</a></h3></li>
   <li th:unless="isAuthenticated"><h3><a href="#" th:href="@{/auth/logout}" th:text="#{navigation.logout} + ' | '">Logout</a></h3></li>
</ul>
<div class="body-content">
    <h2 th:text="#{home.welcome}">Welcome (design)!</h2>
    <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="BeerTag logo"/>
    <p>A beer a day keeps the doctor away!</p>
    <h2 th:if="${isAuthenticated}" th:text="${session.currentUser}"></h2>
</div>

<form th:replace="~{BeerForm.html :: footer}"></form>
</body>
</html>