body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #007bff;
    color: black;
    padding: 10px;
    text-align: center;
}

form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    width: calc(100% / 7 - 10px);
    margin-right: 10px;
}

input[type="submit"] {
    background-color: gray;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    text-transform: uppercase;
    width: calc(100% / 7 - 10px);
    margin-right: 10px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.body-content {
    text-align: center;
    padding: 10px 50px 50px 50px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}

.table th {
    background-color: #007bff;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
}

.action-buttons button {
    border: 1px solid transparent; /* Remove the button border */
    padding: 5px 10px; /* Adjust padding as needed */
    background-color: transparent; /* Make button background transparent */
}

footer {
    text-align: center;
    padding: 10px 50px 10px 50px;
    border-top: 1px solid #dee2e6;
}

.admin-column {
    width: 80px;
}