<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{HomeView.html :: head('Admin Portal')}"></form>
<body>
<form th:replace="~{HomeView.html :: header}"></form>
<!--<div class="body-content">-->
<!--    <h2 th:if="${isAuthenticated && session.isAdmin}" th:text="#{admin.welcome}">Welcome (design)!</h2>-->
<!--    <h2 th:text="${user}" th:if="${isAuthenticated}"></h2>-->
<!--    <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="Healthy Living Hub logo"/>-->
<!--    <p>Welcome my dear Admin!</p>-->
    <form th:replace="~{UsersView.html :: usersView-form(Users)}"></form>

    <form action="#" th:action="@{/users/{id}/update-to-admin(id=${user.id})}" th:object="${user}" method="post">
        <!--        <div class="form-group">-->
        <!--            <label for="username">Username:</label>-->
        <!--            <input type="text" id="username" th:field="*{username}" class="form-control" readonly>-->
        <!--            <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>-->
        <!--        </div>-->
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" class="form-control">
            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update to Admin</button>
        </div>
    </form>
    <div th:if="${statusCode}">
        <p>Status Code: <span th:text="${statusCode}"></span></p>
        <p>Error: <span th:text="${error}"></span></p>
    </div>

    <div th:each="user : ${users}">
        <div>
            <!-- Button to block/unblock user -->
            <p th:text="${user.username}"></p>
            <form th:action="@{'/users/' + ${user.id} + '/block'}" method="post">
                <button type="submit" th:if="${!user.isBlocked}">Block</button>
            </form>
            <form th:action="@{'/users/' + ${user.id} + '/unblock'}" method="post">
                <button type="submit" th:if="${user.isBlocked}">Unblock</button>
            </form>
        </div>
    </div>

<form th:replace="~{HomeView.html :: footer}"></form>
</body>
</html>