<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{HomeView.html :: head(${comment.content})}"></form>
<link href="../static/css/comments.css" th:href="@{/css/comments.css}" rel="stylesheet"/>

<form th:replace="~{HomeView.html :: header}"></form>
<body>
<div class="body-content">
    <h2 th:text="${comment.getContent()}">Comment Content</h2>
    <div th:style="text-align">
        <p class="margin12" th:text="#{comment.label.content}  + ': ' +       ${comment.content}">Content</p>
        <p class="margin12" th:text="#{comment.label.createdBy} + ': ' +      ${comment.user.username}">Created By</p>
    </div>
    <h3>
        <a th:if="${isAuthenticated}" href="#" th:href="@{__${requestURI}__/update}">Update</a>
        <a th:if="${isAuthenticated}" href="#" th:href="@{__${requestURI}__/delete}">Delete</a>
    </h3>
</div>
</body>
<form th:replace="~{HomeView.html :: footer}"></form>
</html>