<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{HomeView.html :: head(${comment.content})}"></head>
<link href="../static/css/posts.css" th:href="@{/css/posts.css}" rel="stylesheet"/>

<header th:replace="~{HomeView.html :: header}"></header>
<body>

<div id="comment-form-container" class="comment-form-container" th:fragment="comment-form(content)">
    <h2 class="comment-form-title" th:text="${content}">Content</h2>

    <form id="comment-form" class="comment-form" action="#" th:action="@{__${requestURI}__}" th:object="${comment}" method="post">

        <label class="comment-form-label" th:text="#{comment.label.content}">Content</label>

        <br/>
        <input id="comment-content" class="comment-form-input" type="text" th:field="*{content}"/>
        <label id="comment-content-error" class="comment-form-error" th:errors="*{content}">Content error placeholder</label>
        <br/><br/>

        <input type="submit" class="comment-form-submit" value="Save"/>
    </form>
</div>

</body>
<footer th:replace="~{HomeView.html :: footer}"></footer>
</html>
