<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{HomeView.html :: head('Error Page')}"></form>
<link href="../static/css/error.css" th:href="@{/css/error.css}" rel="stylesheet"/>
<body>
<!--<form th:replace="~{HomeView.html :: header}"></form>-->

<div id="error-page" class="body-content">
    <h2 id="status-code" class="label-error" th:text="${statusCode}">HTTP Status Code</h2>
    <h3 id="error-message" class="error" th:text="${error}">Error placeholder</h3>
    <a id="go-back-link" href="javascript:history.back()">Go Back</a>
</div>


<!--<form th:replace="~{HomeView.html :: footer}"></form>-->
</body>
</html>
