<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{HomeView.html :: head('Error Page')}"></form>
<script src="https://kit.fontawesome.com/30f218fe1f.js" crossorigin="anonymous"></script>
<link href="../static/css/error.css" th:href="@{/css/error.css}" rel="stylesheet"/>

<body>
<section  id="error-page" class="body-content">
    <h1 class="title">Oops!It seems like you are trying to access sources which does not exists!</h1>
    <p>You can go back to our home page.</p>

    <h2 class="title">Error 404!</h2>

    <div class="options-container">
        <a class="btn"
           th:href="@{/}">
            <i class="fa-solid fa-magnifying-glass"></i> Home page
        </a>
    </div>
</section>
</body>
</html>