<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="'Healthy Living Hub | ' + ${title}">Title</title>
    <link href="../static/css/style.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<header th:fragment="header">
    <div>
        <h3>
            <a href="#" th:href="@{/}" th:text="#{navigation.home} + ' | '">Home</a>
            <a href="#" th:href="@{/about}" th:text="#{navigation.about} + ' | '">About</a>
            <a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts} + ' | '">Browse all posts</a>
            <a href="#" th:href="@{/posts}" th:text="#{navigation.login} + ' | '">Login</a>
            <a href="#" th:href="@{/posts}" th:text="#{navigation.logout} + ' | '">Logout</a>
            <a href="#" th:href="@{/posts}" th:text="#{navigation.register} + ' | '">Register</a>
            <a href="#" th:href="@{/post/new}" th:text="#{navigation.create-post}">Create a new post</a>
        </h3>
    </div>
</header>
<div th:fragment="forum-form(title)">
    <h2 th:text="${title}">Title</h2>

    <form action="#" th:action="@{__${requestURI}__}" th:object="${post}" method="post">
        <label th:text="#{post.label.title}">Title</label>
        <br/>
        <input type="text" th:field="*{title}"/>
        <label class="error" th:errors="*{title}">Title error placeholder</label>
        <br/><br/>

        <label th:text="#{post.label.content}">Content</label>
        <br/>
        <input type="text" th:field="*{content}"/>
        <label class="error" th:errors="*{content}">Content error placeholder</label>
        <br/><br/>

        <label th:text="#{post.label.comments}">Comments</label>
        <br/>
        <div>
            <p th:text="${post.content}"></p>
        </div>
        <h2>Comments:</h2>
        <div th:if="${post.comments}">
            <ul>
                <li th:each="comment : ${post.comments}" th:text="${comment.text}"></li>
            </ul>
        </div>
        <div th:unless="${post.comments}">
            <p>No comments yet.</p>
        </div>
        <br/><br/>

        <input type="submit" value="Save"/>
    </form>
</div>

<footer th:fragment="footer">
    <small th:text="${'© Copyright ' + #dates.year(#dates.createNow()) + ' Healthy Living Hub'}">Healthy Living Hub</small>
</footer>