<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{HomeView.html :: head('Most commented posts')}"></form>
<body>
<form th:replace="~{HomeView.html :: header}"></form>

<div class="body-content">

  <div th:unless="${posts.isEmpty()}">
    <h2 th:text="#{posts.title}">Most commented posts</h2>

    <div class="table">
      <div class="header">
        <div class="header-cell" th:text="#{post.label.title}">Title</div>
        <div class="header-cell" th:text="#{post.label.content}">Content</div>
        <div class="header-cell" th:text="#{post.label.createBy}">Created By</div>
        <div class="header-cell" th:text="#{post.label.creation}">Creation Time</div>
      </div>
      <div class="row" th:each="post : ${posts}">
        <div class="cell">
          <a href="#" th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}">Post</a>
        </div>
        <div class="cell" th:text="${post.content}">Content</div>
        <div class="cell" th:text="${post.createdBy.username}">Create By</div>
        <div class="cell" th:text="${post.creationTime}">Creation Time</div>
      </div>
    </div>
  </div>
</div>

<form th:replace="~{HomeView.html :: footer}"></form>
</body>
</html>
