<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{HomeView.html :: head(${post.title})}"></div>
<script src="https://kit.fontawesome.com/30f218fe1f.js" crossorigin="anonymous"></script>

<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<body>
<div th:replace="~{HomeView.html :: header}"></div>

<div class="body-content">
    <h2 th:text="${post.getTitle()}">Post Title</h2>
    <div th:style="text-align">
        <p class="margin12" th:text="#{post.label.title}  + ': ' +       ${post.title}">Title</p>
        <p class="margin12" th:text="#{post.label.content} + ': ' +      ${post.content}">Content</p>
        <p class="margin12" th:text="#{post.label.createBy}  + ': ' + ${post.createdBy.username}">Created By</p>
        <p class="margin12" th:text="#{post.label.creation}  + ': ' + ${post.creationTime}">Creation Time</p>
    </div>
    <h3>
        <a th:if="${isAuthenticated}" href="#" th:href="@{__${requestURI}__/update}">Update</a>
        <a th:if="${isAuthenticated}" href="#" th:href="@{__${requestURI}__/delete}">Delete</a>
        <a th:if="${isAuthenticated}" th:href="@{/comments/new/posts/{postId}(postId=${postId})}">Create Comment</a>
        <a th:if="${isAuthenticated}" th:href="@{__${requestURI}__/like}">
            <i class="fa-regular fa-thumbs-up"></i>
            <span th:text="${likeCount}">likes</span>

        </a>
        <a th:if="${isAuthenticated}" th:href="@{__${requestURI}__/dislike}">
            <i class="fa-regular fa-thumbs-down"></i>
            <span th:text="${dislikeCount}">dislikes</span>
        </a>
    </h3>
</div>
<h3>Comments:</h3>
<div th:if="${comments}">
    <ul>
        <li th:each="comment : ${comments}" data-comment-id="${comment.id}">
            <p th:text="${comment.content}"></p>
            <p th:text="'Created By: ' + ${comment.user.username}"></p>
            <p th:text="'Creation Time: ' + ${comment.getCreationTime()}"></p>


            <h4>
                <!-- Update and Delete links -->
                <a th:if="${isAuthenticated}" th:href="@{'/comments/'+${comment.id}+'/update'}">Update</a>
                <a th:if="${isAuthenticated}" th:href="@{'/comments/'+${comment.id}+'/delete'}">Delete</a>



                <span class="likeButton">
<a th:if="${isAuthenticated}" href="#" class="likeLink" th:onclick="'likeComment(\'' + ${comment.id} + '\'); return false;'">
    <i class="fa-regular fa-thumbs-up"></i>
    <span class="likeCount" th:id="'likeCount-' + ${comment.id}">0</span>
</a>
</span>
                <span class="dislikeButton">
<a th:if="${isAuthenticated}" href="#" class="dislikeLink" th:onclick="'dislikeComment(\'' + ${comment.id} + '\'); return false;'">
    <i class="fa-regular fa-thumbs-down"></i>
    <span class="dislikeCount" th:id="'dislikeCount-' + ${comment.id}">0</span>
</a>
</span>
            </h4>


        </li>
    </ul>
</div>
<div th:if="${post.comments.isEmpty()}">
    <h2 th:text="#{comments.title.empty}">No comments yet.</h2>
</div>


<form th:replace="~{HomeView.html :: footer}"></form>
</body>
</html>