<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{HomeView.html :: head(${post.title})}"></div>

<body>
<div th:replace="~{HomeView.html :: header}"></div>

<div th:fragment="post-form(title)">
    <h2 th:text="${title}">Title</h2>

    <form action="#" th:action="@{__${requestURI}__}" method="post">
        <label th:text="#{post.label.title}">Title</label>
        <br/>
        <input type="text" th:field="*{post.title}"/>
        <label class="error" th:errors="*{post.title}">Title error placeholder</label>
        <br/><br/>

        <label th:text="#{post.label.content}">Content</label>
        <br/>
        <input type="text" th:field="*{post.content}"/>
        <label class="error" th:errors="*{post.content}">Content error placeholder</label>
        <br/><br/>

        <label th:text="#{post.label.tag}">Tags</label>
        <br/>
        <input type="text" id="tagInput" th:field="*{newTags.names}"/>

        <span class="error" th:if="${#fields.hasErrors('newTags.names')}" th:errors="*{newTags.names}"></span>
        <br/><br/>

        <input type="submit" value="Save"/>
    </form>
</div>

<footer th:fragment="footer">
    <small th:text="${'© Copyright ' + #dates.year(#dates.createNow())
    + ' Healthy Living Hub'}">Healthy Living Hub</small>
</footer>
</body>
</html>