<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{HomeView.html :: head('Edit Post')}"></form>
<body>
<div class="body-content">
    <div th:style="text-align">
        <form th:replace="~{HomeView.html :: header}"></form>
        <form method="post" action="/{id}/upload-profile-picture" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*">
            <input type="submit" value="Upload">
        </form>
<!--        <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">-->
<!--            <form>-->
<!--                <label for="phoneNumber">Phone Number:</label>-->
<!--                <input type="text" id="phoneNumber" name="phoneNumber">-->
<!--            </form>-->
<!--        </div>-->
        <form th:replace="~{UserForm.html :: user-form(Update)}"></form>
        <form th:replace="~{HomeView.html :: footer}"></form>
    </div>
</div>
</body>
</html>