<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<form th:replace="~{HomeView.html :: head('User Deletion Successful')}"></form>

<body>
<!--<form th:replace="~{HomeView.html :: header}"></form>-->
<div class="body-content">
    <h1>User Deletion Successful</h1>
    <p class="success-message">The user has been successfully deleted.</p>

</div>
<!--<form th:replace="~{HomeView.html :: footer}"></form>-->

<script th:inline="javascript">

    setTimeout(function() {
        window.location.href = '/auth/logout';
    }, 3000);

</script>
</body>
</html>