<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{HomeView.html :: head('Edit Post')}"></form>
<link href="../static/css/update.css" th:href="@{/css/update.css}" rel="stylesheet"/>

<form id="header-form" th:replace="~{HomeView.html :: header}"></form>
<body>
<div class="body-content">
    <div id="content-container">
        <form id="upload-form" method="post" th:action="@{/upload-profile-picture}" enctype="multipart/form-data">
            <input id="file-input" type="file" name="file" accept="image/*">
            <input id="submit-button" type="submit" value="Upload">
        </form>
        <form id="user-form" th:replace="~{UserForm.html :: user-form(Update)}"></form>
    </div>
</div>
</body>
<form id="footer-form" th:replace="~{HomeView.html :: footer}"></form>
</html>
